// 
// nav.scss
//

.nav-tabs,.nav-pills {
    > li {
        > a {
            color: #{map-get($grays, "700")};
            font-weight: $label-font-weight;
        }
    }
}

.nav-pills {
    > a {
        color: #{map-get($grays, "700")};
        font-weight: $label-font-weight;   
    }
}

.nav-fill, .nav-justified {
    .nav-item {
        .nav-link {
            width: auto;
        }
    }  
} 


//Navtab custom
.navtab-bg {
    .nav-link {
        background-color: $card-cap-bg;
        margin: 0 5px;
    }
}


// Nav bordered

.nav-bordered {
    border-bottom: 2px solid #{rgba(map-get($grays, "600"), 0.2)} !important;
    .nav-item {
        margin-bottom: -1px;
    }

    li {
        a {
            border: 0 !important;
            padding: 10px 20px;
        }
    }

a.active {
    border-bottom: 2px solid $primary !important;
}
}

.tab-content {
    padding: 20px 0 0 0;
}  


// Dark Mode
body[data-layout-color="dark"] {
    .nav-tabs,.nav-pills {
        > li {
            > a {
                color: #{map-get($dark-grays, "700")};
            }
        }
    }
    
    .nav-pills {
        > a {
            color: #{map-get($dark-grays, "700")}; 
        }
    }
    .nav-bordered {
        border-bottom: 2px solid #{rgba(map-get($dark-grays, "600"), 0.2)} !important;
    }
}


//Custom 
a#left-tabs-example-tab-first.active {
    background: none !important;
    color: #00a551;
    position: relative;
    
}
.active-border{
    color: #000;
}
a#left-tabs-example-tab-first.active::before {
    content: "";
    position: absolute;
    border-left-width: 1px;
    height: 100%;
    border-color: #00a551;
    border-style: solid;
    top: 0;
    bottom: 0;
    left: 0;
}
a#left-tabs-example-tab-second.active {
    background: none !important;
    color: #00a551;
    position: relative;
}
.item-border-1{
    pointer-events: none;
    opacity: 0.5;
    color: #000;
}
a#left-tabs-example-tab-second.active::before {
    content: "";
    position: absolute;
    border-left-width: 1px;
    height: 100%;
    border-color: #00a551;
    border-style: solid;
    top: 0;
    bottom: 0;
    left: 0;
}
.border-rightStyle {
    border-right: 1px solid #ccced2;
    padding-bottom: 30px;
    padding-top: 12px;
    padding-right: 0px !important;
}
.item-border:hover {
    background: #ededed;
    color: #000 !important;
}

.first-tab {
    padding-top: 12px;
}
.tab-header {
    border-bottom: 1px solid #ccced2;
    width: 98.8%;
    padding-bottom: 10px;
    padding-left: 20px;
}
.footer-tab {
    border-top: 1px solid #ccced2;
    width: 98.8%;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 39px;
}
button#input-group-dropdown-1\ innputgrp{
    border-color: #ccced2 !important;
    outline: none !important;
}
button#input-group-dropdown-1\ innputgrp:hover{
    background: none !important;
    color: #000 !important;
    
}
button#input-group-dropdown-1\ innputgrp:focus{
    box-shadow: none !important;
    
}
.inputs{
    width: 72% !important;
}